[submodule "submodules/NexaFramework"]
	path = submodules/NexaFramework
	url = https://github.com/imagineiluv/NexaFramework.git
[submodule "submodules/NexaDB"]
	path = submodules/NexaDB
	url = https://github.com/imagineiluv/NexaDB.git
[submodule "submodules/NexaLogic"]
	path = submodules/NexaLogic
	url = https://github.com/imagineiluv/NexaLogic.git
